<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="chApp.DAL.Properties.Settings.chAppConnectionString" connectionString="data source=C:\GFI\chApp.db" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
